.homePageDivStyle {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}
.newVideogame {
  display: inline-block;
}
.filterDiv {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}
.filterSelect {
  width: 100px;
  margin-left: 10px;
  background-color: #666565;
  color: #d5d5d5;
  border-radius: 3px;
  font-size: 16px;
  display: inline-block;
}
