<div ngClass="pageStyle">
  <ng-container *ngIf="videogamesLoading === true">
    <div>Loading...</div>
  </ng-container>
  <!-- <ng-container *ngIf="!videogamesLoading === false"> -->
  <ng-container *ngIf="user && user.admin" ngClass="col-12">
    <a routerLink="videogames/add" routerLinkActive="active" ngClass="newVideogame">
      <span ngClass="material-icons" title="Add Videogame">
        add_circle_outline
      </span>
    </a>
  </ng-container>
  <div ngClass="col-12">
    <p ngClass="filterLabel"> New </p>
    <app-videogames-list [data]="newGames"></app-videogames-list>
  </div>
  <div *ngFor="let genre of gamesForGenres | keyvalue" ngClass="col-12">
    <p ngClass="filterLabel"> {{ genre.key }} </p>
    <app-videogames-list [data]="genre.value"></app-videogames-list>
  </div>
  <!-- </ng-container> -->
</div>
