<div ngClass="pageStyle">
  <ng-container *ngIf="videogamesLoading === true">
    <div>Loading...</div>
  </ng-container>
  <!-- <ng-container *ngIf="!videogamesLoading === false"> -->
  <div ngClass="newVideogame">
    <ng-container *ngIf="user && user.admin">
      <div ngClass="homePageDivStyle">
        <a routerLink="videogames/add" routerLinkActive="active">
          <span ngClass="material-icons" title="Add Videogame">
            add_circle_outline
          </span>
        </a>
      </div>
    </ng-container>
  </div>
  <div ngClass="filterDiv">
    <span ngClass="material-icons" title="Sort By"> list </span>
    <select ngClass="filterSelect">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.value }}
      </option>
    </select>
  </div>
  <app-videogames-list [data]="videogames"></app-videogames-list>
  <!-- </ng-container> -->
</div>
