.hoverVideogameStyle {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #d5d5d5;
}
.coverStyle {
  background: #0a151f;
  transition: opacity 0.1s ease;
  border-radius: 5px;
  z-index: 0;
  width: 199px;
  height: 250px;
}
.videogameLinkStyle {
  text-decoration: none;
}
