<div ngClass="headerStyle navbar" *ngIf="!loading">
  <a routerLink="/" routerLinkActive="active" ngClass="titleStyle col-4">
    <span>JUSTPLAY</span>
  </a>
  <form (ngSubmit)="submitForm()" ngClass="headerSearchInput col-4">
    <input
      type="text"
      placeholder="Search..."
      name="search"
      [(ngModel)]="criteria"
      (ngModelChange)="logChange()"
    />
  </form>
  <div *ngIf="!loading" ngClass="headerUserButtons col-4">
    <app-auth-logout-button
      *ngIf="(auth.isAuthenticated$ | async) === true"
    ></app-auth-logout-button>
    <app-auth-login-button
      *ngIf="(auth.isAuthenticated$ | async) === false"
    ></app-auth-login-button>
    <a
      routerLink="/profile"
      ngClass="linkStyle"
      *ngIf="(auth.isAuthenticated$ | async) === true"
    >
      <span ngClass="material-icons" title="Profile"> account_circle </span>
    </a>
  </div>
</div>
