<div ngClass="pageStyle" *ngIf="videogameUpdated != null">
  <form (ngSubmit)="submitForm()">
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Title </label>
      <input
        ngClass="fieldInput"
        required
        minlength="1"
        #title="ngModel"
        type="text"
        name="title"
        [(ngModel)]="videogameUpdated.title"
      />
    </div>
    <div *ngIf="title.dirty && title.invalid">
      <span
        ngClass="fieldError"
        *ngIf="title.errors && title.errors['required']"
      >
        You must enter the title
      </span>
      <span
        ngClass="fieldError"
        *ngIf="title.errors && title.errors['minlength']"
      >
        The title must be at least 1 character long
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Release Date </label>
      <input
        ngClass="fieldInput"
        required
        #releaseDate="ngModel"
        type="date"
        name="releaseDate"
        [(ngModel)]="videogameUpdated.releaseDate"
      />
    </div>
    <div *ngIf="releaseDate.dirty && releaseDate.invalid">
      <span ngClass="fieldError" *ngIf="releaseDate.errors && releaseDate.errors['required']">
        You must enter the release date
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Genre </label>
      <input
        ngClass="fieldInput"
        required
        #genre="ngModel"
        type="text"
        name="genre"
        [(ngModel)]="videogameUpdated.genre"
      />
    </div>
    <div *ngIf="genre.dirty && genre.invalid">
      <span
        ngClass="fieldError"
        *ngIf="genre.errors && genre.errors['required']"
      >
        You must enter the genre
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Software House </label>
      <input
        ngClass="fieldInput"
        required
        minlength="1"
        #softwareHouse="ngModel"
        type="text"
        name="softwareHouse"
        [(ngModel)]="videogameUpdated.softwareHouse"
      />
    </div>
    <div *ngIf="softwareHouse.dirty && softwareHouse.invalid">
      <span
        ngClass="fieldError"
        *ngIf="softwareHouse.errors && softwareHouse.errors['required']"
      >
        You must enter the Software House
      </span>
      <span
        ngClass="fieldError"
        *ngIf="softwareHouse.errors && softwareHouse.errors['minlength']"
      >
        The Software House must be at least 1 character long
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Publisher </label>
      <input
        ngClass="fieldInput"
        required
        minlength="1"
        #publisher="ngModel"
        type="text"
        name="publisher"
        [(ngModel)]="videogameUpdated.publisher"
      />
    </div>
    <div *ngIf="publisher.dirty && publisher.invalid">
      <span
        ngClass="fieldError"
        *ngIf="publisher.errors && publisher.errors['required']"
      >
        You must enter the Publisher
      </span>
      <span
        ngClass="fieldError"
        *ngIf="publisher.errors && publisher.errors['minlength']"
      >
        The publisher must be at least 1 character long
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Synopsis </label>
      <input
        ngClass="fieldInput"
        required
        minlength="20"
        #synopsis="ngModel"
        type="text"
        name="synopsis"
        [(ngModel)]="videogameUpdated.synopsis"
      />
    </div>
    <div *ngIf="synopsis.dirty && synopsis.invalid">
      <span
        ngClass="fieldError"
        *ngIf="synopsis.errors && synopsis.errors['required']"
      >
        You must enter the Synopsis
      </span>
      <span
        ngClass="fieldError"
        *ngIf="synopsis.errors && synopsis.errors['minlength']"
      >
        Th synopsis must be at least 20 characters long
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Cover </label>
      <input
        ngClass="fieldInput"
        required
        #cover="ngModel"
        type="text"
        name="cover"
        [(ngModel)]="videogameUpdated.cover"
      />
    </div>
    <div *ngIf="cover.dirty && cover.invalid">
      <span
        ngClass="fieldError"
        *ngIf="cover.errors && cover.errors['required']"
      >
        You must enter the Cover
      </span>
    </div>
    <div ngClass="fieldContainer">
      <label ngClass="fieldLabel"> Trailer </label>
      <input
        ngClass="fieldInput"
        required
        #trailer="ngModel"
        type="text"
        name="trailer"
        [(ngModel)]="videogameUpdated.trailer"
      />
    </div>
    <div *ngIf="trailer.dirty && trailer.invalid">
      <span
        ngClass="fieldError"
        *ngIf="trailer.errors && trailer.errors['required']"
      >
        You must enter the Trailer
      </span>
    </div>
    <div ngClass="fieldButton">
      <button ngClass="invisibleButtonEdit" type="submit">
        <span ngClass="material-icons" title="Save"> save </span>
      </button>
      <span *ngIf="isSubmitting == true">Submitting...</span>
    </div>
  </form>
</div>
