<div ngClass="pageStyle">
  <form (ngSubmit)="submitForm()">
    <div ngClass="fieldContainer col-12">
      <div ngClass="col-12">
        <label name="title" ngClass="fieldLabel"> Title </label>
      </div>
      <div ngClass="col-12">
        <input
        ngClass="fieldInput"
        required
        minlength="1"
        #title="ngModel"
        type="text"
        name="title"
        [(ngModel)]="videogame.title"
      />
      </div>
    </div>
    <div *ngIf="title.dirty && title.invalid">
      <span
        ngClass="fieldError"
        *ngIf="title.errors && title.errors['required']"
      >
        You must enter the title
      </span>
      <span
        ngClass="fieldError"
        *ngIf="title.errors && title.errors['minlength']"
      >
        The title must be at least 1 character long
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12">
        <label name="releaseDate" ngClass="fieldLabel"> Release Date </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          #releaseDate="ngModel"
          type="date"
          name="releaseDate"
          [(ngModel)]="videogame.releaseDate"
        />
      </div>
    </div>
    <div *ngIf="releaseDate.dirty && releaseDate.invalid">
      <span ngClass="fieldError" *ngIf="releaseDate.errors && releaseDate.errors['required']">
        You must enter the release date
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12">
        <label name="genre" ngClass="fieldLabel"> Genre </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          #genre="ngModel"
          type="text"
          name="genre"
          [(ngModel)]="videogame.genre"
        />
      </div>
    </div>
    <div *ngIf="genre.dirty && genre.invalid">
      <span
        ngClass="fieldError"
        *ngIf="genre.errors && genre.errors['required']"
      >
        You must enter the genre
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12"> 
        <label name="softwareHouse" ngClass="fieldLabel"> Software House </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          minlength="1"
          #softwareHouse="ngModel"
          type="text"
          name="softwareHouse"
          [(ngModel)]="videogame.softwareHouse"
        />
      </div>
    </div>
    <div *ngIf="softwareHouse.dirty && softwareHouse.invalid">
      <span
        ngClass="fieldError"
        *ngIf="softwareHouse.errors && softwareHouse.errors['required']"
      >
        You must enter the Software House
      </span>
      <span
        ngClass="fieldError"
        *ngIf="softwareHouse.errors && softwareHouse.errors['minlength']"
      >
        The Software House must be at least 1 character long
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12">
        <label name="publisher" ngClass="fieldLabel"> Publisher </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          minlength="1"
          #publisher="ngModel"
          type="text"
          name="publisher"
          [(ngModel)]="videogame.publisher"
        />
      </div>
    </div>
    <div *ngIf="publisher.dirty && publisher.invalid">
      <span
        ngClass="fieldError"
        *ngIf="publisher.errors && publisher.errors['required']"
      >
        You must enter the Publisher
      </span>
      <span
        ngClass="fieldError"
        *ngIf="publisher.errors && publisher.errors['minlength']"
      >
        The publisher must be at least 1 character long
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12">
        <label name="synopsis" ngClass="fieldLabel"> Synopsis </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          minlength="20"
          #synopsis="ngModel"
          type="text"
          name="synopsis"
          [(ngModel)]="videogame.synopsis"
        />
      </div>
    </div>
    <div *ngIf="synopsis.dirty && synopsis.invalid">
      <span
        ngClass="fieldError"
        *ngIf="synopsis.errors && synopsis.errors['required']"
      >
        You must enter the Synopsis
      </span>
      <span
        ngClass="fieldError"
        *ngIf="synopsis.errors && synopsis.errors['minlength']"
      >
        The synopsis must be at least 20 characters long
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12">
        <label name="cover" ngClass="fieldLabel"> Cover </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          #cover="ngModel"
          type="text"
          name="cover"
          [(ngModel)]="videogame.cover"
        />
      </div>
    </div>
    <div *ngIf="cover.dirty && cover.invalid">
      <span
        ngClass="fieldError"
        *ngIf="cover.errors && cover.errors['required']"
      >
        You must enter the Cover
      </span>
    </div>

    <div ngClass="fieldContainer">
      <div ngClass="col-12">
        <label name="trailer" ngClass="fieldLabel"> Trailer </label>
      </div>
      <div ngClass="col-12">
        <input
          ngClass="fieldInput"
          required
          #trailer="ngModel"
          type="text"
          name="trailer"
          [(ngModel)]="videogame.trailer"
        />
      </div>
    </div>
    <div *ngIf="trailer.dirty && trailer.invalid">
      <span
        ngClass="fieldError"
        *ngIf="trailer.errors && trailer.errors['required']"
      >
        You must enter the Trailer
      </span>
    </div>
    <div ngClass="fieldButton col-12">
      <button ngClass="invisibleButtonEdit" type="submit" [disabled]="checkErrors()">
        <span ngClass="material-icons" title="Save"> save </span>
      </button>
      <span *ngIf="isSubmitting == true">Submitting...</span>
    </div>
  </form>
</div>
